/* Navbar */
.navbar .navbar-nav li a{
  color: #95989A !important;
  font-weight: 400;
  padding-left: 50px !important;

}
.navbar .navbar-nav li a:hover{
  color: #363457 !important;
  font-weight: 400;
  padding-left: 50px !important;
  transform: scale(1);

}

.navbar-brand{
  color: #363457 !important;
  font-size: 24px;
  font-weight: 700;
}
a:link,a:visited {
  color: black;
  margin-left: 
}