body{
	background-color:#C7C7C7;
    font-family: "Segoe UI";
    
    

	
}



/* Navbar */
.navbar{
            
           
        }
        .navbar .navbar-nav li a{
            color: #95989A !important;
            font-weight: 400;
            padding-left: 50px !important;
            
        }
.navbar .navbar-nav li a:hover{
            color: #363457 !important;
            font-weight: 400;
            padding-left: 50px !important;
            transform: scale(1);
    
}
        
        .navbar-brand{
            color: #363457 !important;
            font-size: 24px;
            font-weight: 700;
        }



a:link,a:visited {
	color: #FFF;
	margin-left: 
}

/*Generos */
.produtosHome ul { 
  margin: 150px auto 0; 
  padding: 0; 
  display: table;
  width: 600px;
  text-align: center;
}
.produtosHome li { 
  display: table-cell; 
  position: relative; 
  padding: 10px 0;
}
.produtosHome a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.produtosHome h5{
    color: #fff;
    font-weight: 300;
    text-shadow: 0px 1px 2px #A9A9A9;
}















/*Card deck */
.card-deck{
	padding-bottom: 10vh;
}

.card:focus, .card:hover {
	box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
}
.container .mais-populares{
	margin-bottom: 20px;
}
.header-populares-genero{
	color: #fff
}


.botoes:hover{
	background-color: #ff272e;
	transform: scale(1); 
}

.produtosHome ul { outline: solid 0.25rem hsla(210, 100%, 100%, 0.5); }










